body {
      margin: 0;
      font-family: "Roboto", sans-serif;
    }
    .taskbar {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #008dce;
      color: #fff;
      padding: 8px;
      text-align: left;
      font-size: 20px;
      font-family: "Arial", sans-serif;
  }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #f5f5f5;
      padding: 4px;
    }

    .form-container {
      width: 100%;
      max-width: 400px;
      padding: 8px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    .form-container h1 {
      font-size: 24px;
      color: #121212;
      text-align: center;
      margin-bottom: 16px;
    }

    label {
      font-size: 16px;
      color: #121212;
    }

    input {
      width: calc(100% - 16px);
      margin-top: 8px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      box-sizing: border-box;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      margin-top: 12px;
    }

    .checkbox-container input {
      width: 20px;
      height: 20px;
    }

    .checkbox-label {
      margin-left: 8px;
      font-size: 16px;
      color: #121212;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #00a2ff;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #008dce;
    }

    .result-container {
      text-align: center;
      margin-top: 16px;
    }

    .result-text {
      font-size: 16px;
      color: #121212;
    }

    .result-bold {
      font-weight: bold;
    }
